@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Athiti", sans-serif;
  -webkit-font-smoothing: "Athiti", sans-serif;
  -moz-osx-font-smoothing: "Athiti", sans-serif;
}

body {
  min-height: 100vh;
  /* background-color: gray; */
}

header {
  position: fixed;
  width: 60px;
  height: 100%;
  background-color: white;
  transition: 0.6s ease 0s;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  letter-spacing: 2.5px;
  font-weight: bold;
}

header:hover,
header.active {
  width: 300px;
}

header ul {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}

à¹‰header ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

header ul li:hover {
  background-color: black;
}
header ul li a:hover {
  color: #ffff;
}

header ul li a {
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
header ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

header ul li a .icon .fs {
  font-size: 24px;
}
header ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #efefef;
  cursor: pointer;
  border-radius: 25px;
}
.toggle.active {
  background-color: black;
}
.toggle.active::before {
  background-color: #ffff;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: black;
}
.toggle.active:before {
  content: "\f00d";
  font-family: fontAwesome;
}
@media (max-width: 767px) {
  header {
    left: -60px;
    letter-spacing: normal;
  }
  header.active {
    left: 0px;
    width: 100%;
    z-index: 1;
  }
  .toggle {
    z-index: 2;
  }
}
