.contact {
  margin-left: 60px;
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.contact i {
  padding-right: 20px;
  font-size: 35px;
  color: #9a9b9c;
}
.contact i:hover {
  color: #333;
}
.contact p {
  margin: 5px 20px;
  letter-spacing: 2.5px;
}
@media (max-width: 767px) {
  .contact {
    margin-left: 0px;
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
