* {
  scroll-behavior: smooth;
}

.Home {
  /* min-height: 100vh; */
  padding: 10px;
  /* background-color: #f4f5f9; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.Home2 {
  /* min-height: 100vh; */
  padding: 10px;
  /* background-color: #f4f5f9; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 750px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.content_main {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; */
  letter-spacing: 2.5px;
  margin: 50px;
  width: 700px;
  font-size: 35px;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.35), 0 1px 2px rgba(0, 0, 0, 0.6);
}
.group_content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

  padding: 20px;
}
.group_content > div {
  margin: 30px;
}

.group_content_1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}
.group_content_1 > div {
  margin: 30px;
}

.dot::before {
  margin-left: 70px;
  content: "*";
  /* position: relative;
  height: 3px;
  margin-right: 5px;
  border-radius: 45px;

  background-color: black; */
}

.Profilepic {
  border-radius: 20%;
  width: 400px;
  margin: 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
}

.Profilepic:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.typingeffect {
  font-size: 40px;
}
.customtyping {
  width: 600px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.typing1 {
  width: 600px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: all 0.9s; */
}
/* .typing1.active {
  animation-name: example;
  animation-duration: 2s;
  transition: all 0.6s;
  transform: translateY(-100px);
} */
/* @keyframes example {
  from {
    transform: translateY(135px);
  }
  to {
    transform: translateY(-100px);
  }
} */
/* 
.timeline {
  display: none;
}
.typing1.active .timeline {
  display: inline-block;
  transition: all 0.5s;
} */

.link_pro {
  padding: 2px 10px;
  text-decoration: none;
  color: #000;
}

.div_link.active {
  width: 196px;
  height: 2px;
  position: absolute;
}

.div_link {
  margin-left: 23px;
  width: 0px;
  height: 0px;
  background: #000;
  transition: width 0.3s;
}

.timeline .history {
  display: inline-block;
  padding: 2px 10px;
  font-weight: bold;
  border-radius: 45px;
  font-size: 13px;
  letter-spacing: 2.5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.timeline .content p {
  margin: 10px;
}

.timeline li {
  list-style: none;
}
.history_detail {
  line-height: 1.1;
}

.submit {
  width: 180px;
  height: 45px;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  padding: 10px;
}

.submit:hover {
  background-color: #efefef;
  box-shadow: 0px 15px 20px rgb(214, 214, 214);
  color: #000;
  transform: translateY(-7px);
}

/* 12 */
.btn-detail {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.custom-btn {
  padding: 10px 25px;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-12 {
  position: relative;
  border: none;
  width: 180px;
  height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
  outline: none;
}
.btn-12 span {
  padding-top: 10px;
  display: block;
  position: absolute;
  width: 180px;
  height: 40px;
  border: none;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);

  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  background: #e0e5ec;
  color: #e0e5ec;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.project_detail2 p {
  text-indent: 50px;
  padding-bottom: 10px;
}

.content2 {
  padding: 30px;
  width: 100%;
  border: 1px #000 solid;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.content2 .project {
  padding-bottom: 10px;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.35), 0 1px 2px rgba(0, 0, 0, 0.6);
}
.content2:hover {
  padding: 30px;
  border: 1px #000 solid;
  transform: translateY(-9px);
  box-shadow: 0px 15px 20px rgb(214, 214, 214);
}

@media screen and (max-width: 320px) {
  .Home {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .customtyping {
    width: 300px;
  }
  .typingeffect {
    font-size: 20px;
  }
  .typing1 {
    width: 300px;
  }
  .typing1.active {
    margin-top: 100px;
  }
  .timeline {
    margin-top: 20px;
  }
  .btn-detail {
    padding-right: 60px;
  }
  .Profilepic {
    border-radius: 20%;
    width: 300px;
    margin: 25px;
  }
  .history_detail {
    line-height: normal;
  }
  .timeline .history {
    letter-spacing: normal;
  }
  .submit {
    letter-spacing: normal;
  }
  .btn-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .custom-btn {
    letter-spacing: normal;
    margin: 15px;
  }
}
@media screen and (max-width: 375px) {
  .Home {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .customtyping {
    width: 300px;
  }
  .typingeffect {
    font-size: 20px;
  }
  .typing1 {
    width: 300px;
  }
  .typing1.active {
    margin-top: 100px;
  }
  .timeline {
    margin-top: 20px;
  }
  .btn-detail {
    padding-right: 60px;
  }
  .Profilepic {
    border-radius: 20%;
    width: 300px;
    margin: 25px;
  }
  .history_detail {
    line-height: normal;
  }
  .timeline .history {
    letter-spacing: normal;
  }
  .submit {
    letter-spacing: normal;
  }
  .btn-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .custom-btn {
    letter-spacing: normal;
    margin: 15px;
  }
}
@media screen and (max-width: 425px) {
  .Home {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .customtyping {
    width: 300px;
  }
  .typingeffect {
    font-size: 20px;
  }
  .typing1 {
    width: 300px;
  }
  .typing1.active {
    margin-top: 100px;
  }
  .timeline {
    margin-top: 20px;
  }
  .btn-detail {
    padding-right: 60px;
  }
  .Profilepic {
    border-radius: 20%;
    width: 300px;
    margin: 25px;
  }
  .history_detail {
    line-height: normal;
  }
  .timeline .history {
    letter-spacing: normal;
  }
  .submit {
    letter-spacing: normal;
  }
  .btn-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .custom-btn {
    letter-spacing: normal;
    margin: 15px;
  }
}
@media screen and (max-width: 768px) {
  .Home {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .customtyping {
    width: 300px;
  }
  .typingeffect {
    font-size: 20px;
  }
  .typing1 {
    width: 300px;
  }
  .typing1.active {
    margin-top: 100px;
  }
  .timeline {
    margin-top: 20px;
  }
  .btn-detail {
    padding-right: 60px;
  }
  .Profilepic {
    border-radius: 20%;
    width: 300px;
    margin: 25px;
  }
  .history_detail {
    line-height: normal;
  }
  .timeline .history {
    letter-spacing: normal;
  }
  .submit {
    letter-spacing: normal;
  }
  .btn-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .custom-btn {
    letter-spacing: normal;
    margin: 15px;
  }
  .Home2 {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* .project_detail2 > span {
    margin-right: 50px;
  } */
  .content_main {
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */

    margin: 0px;
    width: 300px;
    font-size: 25px;
    text-shadow: 0 8px 4px rgba(0, 0, 0, 0.35), 0 1px 2px rgba(0, 0, 0, 0.6);
  }
  .group_content {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .group_content .content2 {
    padding: 15px;
  }
  .group_content_1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .group_content_1 .content2 {
    padding: 15px;
  }
}
